site_name: EggAI Multi-Agent Meta Framework
copyright: Copyright &copy; 2024 EggAI Technologies GmbH
docs_dir: docs

theme:
  name: material
  features:
    - navigation.expand
  logo: assets/logo.png
  favicon: assets/favicon.png
  palette:
    primary: white

nav:
  - "Introduction": index.md
  - Concepts:
    - "Agent": concepts/agent.md
    - "Multi-Agent System": concepts/multi-agent-system.md
  - Examples:
    - "Getting Started": examples/getting_started.md
    - "Coordinator": examples/coordinator.md
    - "Websocket Gateway": examples/websocket_gateway.md
    - "LangChain Tool Calling": examples/langchain_tool_calling.md
    - "Shared Context": examples/shared_context.md
    - "LiteLLM Integration": examples/litellm_agent.md
    - "Triage agent": examples/triage_agent.md
    - "Multi-Agent Conversation": examples/multi_agent_conversation.md
    - "Multi-Agent & Human Chat": examples/multi_agent_human_chat.md
    - "Evaluation & DSPy": examples/agent_evaluation_dspy.md
    - "Safe agents & Guardrails": examples/safe_agents_guardrails.md
    - "Advanced Agents with DSPy ReAct": examples/dspy_react.md
  - References:
    - "Agent": references/agent.md
    - "Channel": references/channel.md
    - "Message": references/message.md

plugins:
- include-markdown:
    comments: true
    start: <!--start-->
    end: <!--end-->
- mkdocstrings:
    handlers:
      python:
        paths: [../sdk]

extra:
  generator: false