name: Python code validation and build

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  static-analysis:
    runs-on: ubuntu-latest
    name: Static analysis

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
        with:
          # Disabling shallow clones is recommended for improving SonarQube relevancy of reporting
          fetch-depth: 0

      - name: Run python linter
        uses: astral-sh/ruff-action@v3
        with:
          src: demo

  sonarqube-scan:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    name: SonarQube scan
    needs: static-analysis
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run SonarQube scan
        uses: SonarSource/sonarqube-scan-action@v5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: demo
          args: >
            -Dsonar.pullrequest.key=${{ github.event.pull_request.number }}
            -Dsonar.pullrequest.branch=${{ github.head_ref }}
            -Dsonar.pullrequest.base=${{ github.base_ref }}
